{% extends "base.html" %}
{% block content %}

<h3 class="center-align headings">Login</h3>

<div class="row">
    <form name="login_form" class="col s12 m8 offset-m2" method="POST" action="{{url_for('log_in')}}">
        {{ form.csrf_token }}
    </form>
</div>

<div class="row">
    <div class="col s12">
        <p class="center-align">
            Not registered? 
            <a href="{{ url_for('sign_up') }}" class="liht-blue-text text-darken-4">Signup</a>
        </p>
    </div>
</div>

{% endblock %}