{% extends "base.html" %}
{% block content %}
<section class="container">
<h3 class="center-align headings">Proilfes</h3>
<ul class="collection">
{% for user in users %}
<li class="collection-item avatar">
    <img src="{{user.image}}" alt="" class="circle">
    <span class="title">{{user.name}}</span>
    <p class="truncate">{{user.bio}}
    </p>
    <a href="{{ url_for('profile', email=user.email) }}" class="secondary-content"><i class="fas fa-user-circle"></i></a>
  </li>
  <br>
{% endfor %}
</ul>

</section>
{% endblock %}