{% extends "base.html" %}
{% block content %}

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CSS User Profile Card</title>
	<link rel="stylesheet" href="styles.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
    <section>
        <div class="row">
            <div class="col s3 hide-on-small-only left" id="profile-img">
                    <img src="{{ user.image }}" alt="user-image" width="100">
            </div>
            <div class="col s4 left name">
                <h4 class="sub-headings">{{ user.name }}</h4>
            </div>
            <div class="col s1 right" id="update-btn">
                <a  href="{{ url_for('update_profile')}}" class="btn">
                    Update
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col s4" id="bio">
                <h5 class="sub-headings">Bio:</h5>
            </div>
            <div class="col s7 left bio-text">
                <p class="left bio-text">
                    {{ user.bio }}
                </p>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col s12 center-align">
                <h3 class="sub-headings">Library</h3>
            </div>
        </div>
        <div class="row">
            <div class="col s12 scroll center-align">
                <div class="card-panel center-align" id="library">
                    <div class="row">
                        {% for book in books %}
                        <div class="col s12 m4 l4">
                          <div class="card">
                            <div class="card-image">
                              <img src="{{ book.image }}">
                              <span class="card-title"></span>
                            </div>
                            <div class="card-content">
                                <p> 
                                    Book: <span>{{ book.title }}</span> 
                                    <br>
                                    Author: <span>{{ book.author }}</span>
                                    <br>
                                    Genere: <span>{{ book.genre }}</span>
                                </p>
                            </div>
                            <div class="card-action">
                              <a href="#">Remove</a>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <footer class="conatiner">
        <div class="row">
            <div class="col s12 center-align">
                <ul class="valign-wrapper">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>  
        </div>
    </footer> -->
        {% endfor %}
</body>
</html>

{% endblock %}