{% extends "base.html" %}
{% block content %}

    <section>
        <div class="row">
            <div class="col s3 hide-on-small-only left" id="profile-img">
                    <img src="{{ user.image }}" alt="user-image" width="100">
            </div>
            <div class="col s4 left name">
                <h4 class="sub-headings">{{ user.name }}</h4>
            </div>
            <div class="col s1 right" id="update-btn">
                <a  href="{{ url_for('update_profile')}}" class="btn-small">
                    Update
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col s4" id="bio">
                <h5 class="sub-headings">Bio:</h5>
            </div>
            <div class="col s7 left bio-text">
                <p class="left bio-text">
                    {{ user.bio }}
                </p>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col s12 center-align">
                <h3 class="sub-headings">Library</h3>
            </div>
        </div>
        <div class="row">
            <div class="col s12 scroll center-align">
                <div class="card-panel center-align" id="library">
                    <div class="row">
                        {% for book in books %}
                        <div class="col s12 m4 l4">
                          <div class="card">
                            <div class="card-image">
                              <img src="{{ book.image }}">
                              <span class="card-title"></span>
                            </div>
                            <div class="card-content">
                                <p> 
                                    Book: <span>{{ book.title }}</span> 
                                    <br>
                                    Author: <span>{{ book.author }}</span>
                                    <br>
                                    Genere: <span>{{ book.genre }}</span>
                                </p>
                            </div>
                            <div class="card-action">
                              <a href="#">Remove</a>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Add some books to your collection: 
                <a href="{{ url_for('home') }}" class="liht-blue-text text-darken-4">search</a>
            </p>
        </div>
    </div>

{% endblock %}