{% extends "base.html" %}
{% block content %}
<div class="row">
    {% for review in reviews %}
    <div class="col s6 m2">
        <div class="card center-align">
            <div class="card-image">
                <img src="{{review.image}}" class="card_image" alt="Book image">
            </div>
            <div class="card-action">
                <a href="{{url_for('book_review', vol_id=review.volume_id)}}" class="card_image">Reviews</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}