{% extends "base.html" %}
{% block content %}

<section>
  {% for review in reviews %}
    <div class="row">
      <div class="col s2 m2">
        <div class="card large center-align">
          <div class="card-image">
            <img src="{{review.image}}">
            <span class="card-title">{{review.title}}</span>
          </div>
          <div class="card-content">
            <p>{{review.description}}</p>
          </div>
          <div class="card-action">
            <a href="{{url_for('update_reviews', vol_id=review.volume_id)}}">Review</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</section>

{% endblock %}