{% extends "base.html" %}
{% block content %}

<h3 class="center-align headings">Update Profile</h3>

<div class="row">
    <form name="update_form" class="col s12 m8 offset-m2" method="POST" action="{{ url_for('update_profile') }}">
        <div class="card-panel">
            <div class="row">
                <div class=" col s12">
                    <i class="fas fa-portrait  cyan-text darken-2">
                    <label for="image" class="form-text">Choos a profile image:</label></i>
                    <br>
                    <input id="image" name="name" type="file" class="validate" accept="image/*" required>
                </div>
            </div>
            <!-- bio -->
            <div class="row">
                <div class="col s12">
                    <i class="fas fa-edit cyan-text darken-2">
                    <label for="bio-update" class="form-text">Bio:</label></i>
                     <br>
                    <textarea id="bio-update" name="bio-update" rows="4" class="validate update-form" maxlength="100"></textarea>
                </div>
            </div>
            <!-- register -->
            <div class="row">
                <button type="submit" class="col s12 btn-large cyan darken-2 text-shadow">
                    Update <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s12">
        <p class="center-align">
            Return to profile:
            <a href="{{url_for('profile')}}" class="liht-blue-text text-darken-4">Profile</a>
        </p>
    </div>
</div>

{% endblock %}